

body {
    background-color: aliceblue;
}

div {
    text-align: center;
}


img[src*='profilePic'] {

    height: 400px;
    width: 400px;
    border-radius: 50%;

    margin: 25px auto 5px;
}

ul {

    list-style-type: none;
    
    padding-right: 45px;
}